<div class="input-wrapper">
  @if (label()) {
    <label class="input-label" [for]="name()">
      {{ label() }}
      @if (required()) {
        <span class="required-indicator">*</span>
      }
    </label>
  }

  <div
    class="input-container"
    [class.small]="size() === 'small'"
    [class.disabled]="disabled"
    [class.has-value]="!!value">
    @if (leftIcon()) {
      <span class="left-icon">
        <app-svg [src]="'svg/' + leftIcon() + '.svg'"></app-svg>
      </span>
    }

    <input
      #nativeInput
      [style.width]="width() ? width() : null"
      [value]="value"
      [name]="name()"
      [id]="name()"
      [disabled]="disabled"
      [attr.min]="min()"
      [attr.max]="max()"
      [class.invalid]="invalid()"
      [class.small]="size() === 'small'"
      [class.has-value]="!!value"
      [class.has-left-icon]="leftIcon()"
      [class.has-right-icon]="rightIcon()"
      [type]="inputType()"
      [autocomplete]="autocomplete() || 'off'"
      [placeholder]="placeholder()"
      (input)="onInput($event)"
      (focus)="handleFocus($event)"
      (blur)="handleBlur()" />

    @if (rightIcon()) {
      <span class="right-icon">
        <app-svg [src]="'svg/' + rightIcon() + '.svg'"></app-svg>
      </span>
    }
    @if (type() === 'password') {
      <span
        class="right-icon pointer"
        (click)="togglePasswordVisibility()"
        (keydown.enter)="togglePasswordVisibility()"
        (keydown.space)="togglePasswordVisibility()"
        tabindex="0"
        role="button"
        aria-label="Toggle password visibility">
        @if (passwordVisible()) {
          <app-svg src="svg/eye-crossed.svg"></app-svg>
        } @else {
          <app-svg src="svg/eye.svg"></app-svg>
        }
      </span>
    }
  </div>

  @if (invalidMessage() && invalid()) {
    <app-error-message [message]="invalidMessage()"></app-error-message>
  }
</div>
