{% extends "file/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ current_path|default:"Home" }} - Djancloud{% endblock %}

{% block body %}
<div class="flex h-full min-h-screen flex-col">

    <!-- Navbar -->
    {% include "file/_navbar.html" with active_nav='files' %}

    <!-- Vue SPA mount point -->
    <div id="browse-app" class="flex flex-1 overflow-hidden"></div>
</div>
{% endblock %}

{% block extra_js %}
<script type="application/json" id="page-data">
{
    "currentPath": "{{ current_path|escapejs }}",
    "isAdmin": {% if request.user.role == 'admin' %}true{% else %}false{% endif %},
    "csrfToken": "{{ csrf_token }}"
}
</script>
{% render_bundle 'browse' 'js' %}
{% endblock %}
